extends layout

block content 
    label  Title
    p= recipe.title
    label  Description
    p= recipe.description
    label  How many can eat  
    p= recipe.serving
    label  How long it takes 
    p= recipe.preptime
    label  cooked by   
    p= recipe.author
